/* CSS for All */
* {
    margin: 0 0;
    padding: 0 0;
    font-family: "Times New Roman", Times, serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-white {
    color: white;
}

.clearfix {
    clear: both;
    float: none;
}

a {
    color: #789461;
    text-decoration: none;
}

a:hover {
    color: #BACD92;
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #789461;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    color: white;
    background-color: #264d19;
}

h2 {
    color: #143914;
    font-size: 2rem;
    margin-bottom: 2%;
}

h3 {
    font-size: 1.5rem;
}

.float-container {
    position: relative;
}

.float-text {
    position: absolute;
    bottom: 50px;
    left: 40%;
}

fieldset {
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.error {
    padding: 2%;
    color: red;
}

.success {
    padding: 2%;
    color: green;
}


/* CSSS for navbar section */

.nav {
    background-color: #F8F9F4;
    height: 180px;
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #264d19;
    font-size: 17px;
    padding: 0 16px;
    /* Add padding to create space around the links */
}

.nav .navleft {
    margin-left: 25px;
}

.nav .navright {
    /*     margin-left: auto;  */
    margin-right: 25px;
}

.logo-container {
    width: 10%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* CSS for Food SEarch Section */

.food-search {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories {
    padding: 4% 0;
    background-color: #FBFDF2;
}

.box-3 {
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu {
    background-color: #FBFDF2;
    padding: 4% 0;
}

.food-menu-box {
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: #D4E7C5;
    border-radius: 15px;
}

.food-menu-img {
    width: 20%;
    float: left;
}

.food-menu-desc {
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price {
    font-size: 1.2rem;
    margin: 2% 0;
}

.food-detail {
    font-size: 1rem;
    color: #264d19;
}

.foods-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1600px;
}

.foods-container img {
    width: 399px;
    height: 288px;
    border-radius: 15px;
    margin-left: 45px;
}

.foods-container a {
    text-decoration: none;
    flex: 0 0 calc(33.33% - 20px); /* Adjust this value as needed */
    margin: 10px 0px 70px; /* Adjust margin as needed */
    position: relative;
}

.foods-container figcaption {
    font-size: 20px;
    text-align: center; /* Center the text */
    position: absolute; /* Position the figcaption relative to its parent */
/*     margin-right: 70px; */
    color: #264d19;
    line-height: 3;
    left: 0; /* Align the figcaption to the left */
    right: 0; /* Align the figcaption to the right */
}


/* CSS for Social */
.social ul {
    list-style-type: none;
}

.social ul li {
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order {
    width: 50%;
    margin: 0 auto;
}

.input-responsive {
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.order-label {
    margin-bottom: 1%;
    font-weight: bold;
}


/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px) {
    .logo {
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul {
        text-align: center;
    }

    .food-search input[type="search"] {
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn {
        width: 91%;
        padding: 2%;
    }

    .food-search {
        padding: 10% 0;
    }

    .categories {
        padding: 20% 0;
    }

    h2 {
        margin-bottom: 10%;
    }

    .box-3 {
        width: 100%;
        margin: 4% auto;
    }

    .food-menu {
        padding: 20% 0;
    }

    .food-menu-box {
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }

    .social {
        padding: 5% 0;
    }

    .order {
        width: 100%;
    }
}

/* Your orders Table */

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #789461;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #F8F9F4;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #789461;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #789461;
}

/* Food order page css */
.food-order {
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-order input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}